<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
        p{font-family: 'Sunflower', sans-serif;} 
        .w3-container{
            padding-top:1em;
        }
        .cover:hover{
          opacity:1;
        }
        .w3-row-padding{
          width:85%;
          float:right;
        }
        .left{
          width:13%;
          margin-left:1em;
          float:left;
        }
        .btn-outline-secondary{
          width:100%;
        }
        .w3-center .w3-bar{
          margin-left:190px;
        }
        .slidecontainer {
            width: 100%;
        }
        
        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 25px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }
        
        .slider:hover {
            opacity: 1;
        }
        
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: #4CAF50;
            cursor: pointer;
        }
        
        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #4CAF50;
            cursor: pointer;
        }
        .text{
          width:30%;
          margin-left:200px;
        }
        </style>
    </head>
    <body class="w3-light-grey w3-content" style="max-width:1900px">
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="/" class="w3-bar-item w3-button">오늘 뭐먹지?</a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
          <a href="#projects" class="w3-bar-item w3-button">오늘의 추천메뉴</a>
          <a class="w3-bar-item w3-button dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">조건</a>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/foods/stuation">상황별</a>
            <a class="dropdown-item" href="#">날씨별</a>
          </div>
          <a href="/foods/game" class="w3-bar-item w3-button">게임</a>
        </div>
      </div>
    </div>
    <!-- Project Section -->
      <div class="w3-container w3-padding-32" id="projects" style="padding:0 30px">
        <h3 class="w3-border-bottom w3-border-light-white w3-padding-16" style="margin-top:25px">혼밥</h3>
      </div>
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="padding:0 20px">
      <div class="left">
        <p>
          <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            가격 필터
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="slidecontainer">
            <form action="/foods/filter" method="post">
              <p>가격(0~10,000원):</p>
              <input type="range" min="0" max="10000" value="0" name="price">
              <button type="submit" class="btn btn-info">적용</button> 
            </form>
          </div>
        </div>
      </div>
      
      
      <div class="text">최소 <%=@price%>원 이상</div>
      <!--오른쪽-->
      <div class="right">
        <!-- First Photo Grid-->
        <div class="w3-row-padding">
         <% twice = @price%>
          <% @all.each do |p|%>
           <% if p.id >3 %>
            <% break %>
            <% elsif twice.to_i < p.price%>
             <% next %>
           <%else%>
          <div class="w3-third w3-container w3-margin-bottom">
            <div class="cover"><img src="<%=asset_path('')%>" alt="Norway" style="width:100%" class="w3-hover-opacity"></div>
            <div class="w3-container w3-white">
              <p><b><%=p.name%></b></p><%=@picture[0]%>
              <p>가격: <%=p.price%>원</p>
            </div>
          </div>
          <% end %>
          <% end %>
          <!--
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="<%=asset_path('김밥.jpg')%>" alt="Norway" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>김밥</b></p>
              <p>가격: 1,500원</p>
            </div>
          </div>
          <div class="w3-third w3-container">
            <img src="<%=asset_path('컵밥.jpg')%>" alt="Norway" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>컵밥</b></p>
              <p>가격: 3,200원</p>
            </div>
          </div>-->
        </div>
        
        <!-- Second Photo Grid-->
        <div class="w3-row-padding">
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="<%=asset_path('도시락.jpg')%>" alt="Norway" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>도시락</b></p>
              <p>가격: 3,700원</p>
            </div>
          </div>
          <div class="w3-third w3-container w3-margin-bottom">
            <img src="<%=asset_path('회덮밥.jpg')%>" alt="Norway" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>회덮밥</b></p>
              <p>가격: 9,000원</p>
            </div>
          </div>
          <div class="w3-third w3-container">
            <img src="<%=asset_path('돼지국밥.jpg')%>" alt="Norway" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>돼지국밥</b></p>
              <p>가격: 8,000원</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Pagination -->
      <div class="w3-center w3-padding-32">
        <div class="w3-bar">
          <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
          <a href="/foods/alone" class="w3-bar-item w3-black w3-button">1</a>
          <a href="/foods/alone2" class="w3-bar-item w3-button w3-hover-black">2</a>
          <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
          <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
          <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
        </div>
      </div>
    
       
    <!-- End page content -->
    </div>

    </body>
</html>

